<div class="footer">
    <div class="row">
        <div class="col-lg-12 text-center">
                <p><strong>Made By <a href="https://linkedin.com/in/himanshumehta1114/">Himanshu Mehta</a></strong></p>
                <p><strong>himanshumehta1114@gmail.com</strong></p>
                <p style="font-size : 25px"><strong>
                    <a target="_blank" href="https://www.github.com/himanshumehta1114"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.codepen.io/himanshumehta1114"><i class="fa fa-codepen"></i></a>
                    <a target="_blank" href="https://linkedin.com/in/himanshumehta1114"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://freecodecamp.org/himanshumehta1114"><i class="fa fa-free-code-camp"></i></a>
                </strong></p>
        </div>
    </div>
</div>
