<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting app|User profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center" style="background : #3498DB">
                <p style="padding-top:50px;color: #fff;font-size: 40px">Welcome </p>
                <p style="color:#fff;font-size:40px"><%=name%> (<a href="/logout" style="color : #fff">logout</a>)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <hr> -->
                        <h2 class="text-center">My polls</h2>
                    </div>
                </div>
                <%for(var i=0;i<myPolls.length;i++){ %>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h3><a href=<%='/getPoll/'+myPolls[i].id %>><%=myPolls[i].subject%></a></h3>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Create new poll</h1>
                        <form action="/newPoll" method="post" class="form-horizontal" style="margin-top : 20px;margin-right : 20px">
                            <div class="form-group">
                                <label for="subject" class="control-label col-lg-2">Subject</label>
                                <div class="col-lg-10">
                                    <input type="text" name="subject" class="form-control" id="subject">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="options" class="control-label col-lg-2">Options</label>
                                <div class="col-lg-10">
                                    <textarea name="optionsList" class="form-control" id="options" rows="10" style="resize:none"></textarea>
                                    <div class="alert alert-danger">Options separated by new lines</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input type="submit" value="Create New Poll!" class="btn btn-success form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
